* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.2;
    font-family: var(--primary-font);
    font-weight: 500; /* Medium */
    background-color: var(--bg-color);
    color: var(--secondarycolor);
}

a {
    transition: var(--common-transition);
    color: var(--blue);
}

ul li,
ol li {
    margin-bottom: 5px;
}

/* Flex Content*/
.flex-container {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-dir-col {
    flex-direction: column;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-align-items-center {
    align-items: center;
}

.rainbow-gradient {
    background-color: var(--bg-rainbow-gradient-linear);
}

/* Screen Readers Only Content */
.sr-only {
    display: block;
    text-indent: -9999px;
    overflow: hidden;
}

.container {
    min-height: 100vh;
}

/* Toggle Theme */
.toggle-theme {
    padding: var(--common-padding);
}

/* Main Content */
.main-content {
    width: 100%;
    padding: var(--common-padding);
}
