:root {
    --primaryColor: #000000;
    --secondaryColor: #ffffff;
    --ternaryColor: #cccccc;
    --border-color: #444444;
    --bg-color: #272727;
    --highlightColor: #0000ff;
    --common-padding: 20px;
    --button-padding: 5px 10px;
    --common-transition: all .3s ease-in-out;

    --primary-font: 'Raleway', sans-serif;
}

:root[theme='light']{
    --primaryColor: #9d9d9d;
    --secondaryColor: #000000;
    --ternaryColor: #5d5d5d;
    --border-color: #dddddd;
    --bg-color: #ffffff;
    --highlightColor: #5e5efd;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    /* font-family: 'Raleway'; */
    font-family: var(--primary-font);
    font-weight: 500; /* Medium */
    background-color: var(--bg-color);
    color: var(--secondaryColor);
}

a {
    transition: var(--common-transition);
    color: var(--highlightColor);
}

button {
    padding: var(--button-padding);
    font-family: var(--primary-font);
    font-weight: 700;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 3px;
    background-color: var(--border-color);
    color: var(--secondaryColor);
    transition: var(--common-transition);
}


button:hover {
    background: var(--secondaryColor);
    color: var(--primaryColor);
}

/* Flex Content*/
.flex-container {
    display: flex;
}

.flex-dir-col {
    flex-direction: column;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-align-items-center {
    align-items: center;
}

/* Screen Readers Only Content */
.sr-only {
    display: block;
    text-indent: -9999px;
    overflow: hidden;
}

/* Table Content */

table,
th,
td {
  border: 1px solid var(--primaryColor);
  border-collapse: collapse;
}

caption {
    margin: 10px 0;
    font-weight: bold;
}

th,
td {
    padding: 5px 8px;
}

td.complete,
td.complete a {
    color: var(--highlightColor);
}

td.complete a {
    text-decoration: none;
}

td.complete a:hover {
    color: var(--secondaryColor);
}

.container {
    min-height: 100vh;
}

/* Main Header */
.header {
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
}

/* portfolio */
.profile {
    padding: var(--common-padding);
    text-align: center;
}

.profile-name {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    margin-bottom: 0;
}

.profile-img__link,
.profile-name__link {
    text-decoration: none;
}

.profile-img__link {
    display: block;    
    overflow: hidden;
    line-height: 0;
    border: 4px dotted var(--border-color);
    border-radius: 50%;
}

.profile-img__link img {
    border: 4px solid var(--border-color);
    border-radius: 50%;
}

.profile-img__link:hover {
    border-color: var(--secondaryColor);
    border-style: solid;
    transition: var(--common-transition);
}

.profile-img__link:hover img {
    border-color: var(--secondaryColor);
    border-style: dotted;
    transition: var(--common-transition);
}

.profile-name__link {
    color: var(--secondaryColor);
}

.profile-name__link:hover {
    color: var(--ternaryColor);
}

/*

.profile-img__link {
    --borderColor: #444444;
    display: block;    
    overflow: hidden;
    line-height: 0;
    border: 3px dotted var(--borderColor);
    border-radius: 50%;
    animation-name: changeBorderColor;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes changeBorderColor {
    0%   {border-color: var(--primaryColor);}
    20%  {border-color: var(--secondaryColor)}
    40%  {border-color: var(--tertiaryColor);}
    60%  {border-color: var(--primaryColor);}
    80% {border-color: var(--secondaryColor);}
    100% {border-color: var(--tertiaryColor);}
}

*/

/* Main navigation */
.nav a {
    display: block;
    padding: 10px var(--common-padding);
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    background-color: var(--ternaryColor);
    color: var(--primaryColor);
}

.nav a:hover {
    background-color: var(--secondaryColor);
    color: var(--highlightColor);
}

.nav > a > span {
    margin-right: 10px;
}

.social-links {
    display: flex;
    justify-content: space-between;
    padding: var(--common-padding);
}

.social-links__link {
    text-decoration: none;
    color: var(--secondaryColor);
    line-height: 0;
}

.social-links__link:hover {
    color: var(--highlightColor);
}

/* Toggle Theme */
.toggle-theme {
    padding: var(--common-padding);
}

/* Main Content */
.main-content {
    padding: var(--common-padding);
}
